.searchTitle {
    margin: 40px;
    font-size: 32px;
    color: #0B63F6;
    text-shadow: 1px 1px #003CC5;
}

.form {
    display: flex;
    gap: 20px;
    align-items: center;
}

.searchBtn {
    width: 150px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
}
.searchBtn:hover, .searchBtn:focus {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}