.userDetailsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.userDetailsItem {
    text-align: center;
    padding-bottom: 10px;
}

.userResipes {

}